html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    border: 1px solid #1f1f1f;
    border-right-width: 0;
    margin-top: 0;
    background-color: #333;
    color: #c1c1c1;

    position: relative;
    line-height: 1.6;
}

table {
    font-size: 100%;
}

td {
    display: table-cell;
    vertical-align: middle;
}

.infobox-vrow-value {
    border: 1px solid #1f1f1f;
    background-color: #333;
    color: #c1c1c1;

    display: flex;
    align-items: center;
}

td.infobox-vrow-value,
.infobox tr td.infobox-extra {
    border-top: 2px solid #3e3e3e;
    border-bottom: 2px solid #3e3e3e;

}

#build_area {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border: 1px solid #1f1f1f;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-top: 2px solid #3e3e3e;
    border-bottom: 2px solid #3e3e3e;
}

#scale_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.factorio-icon[style*="background-color:#999"],
.factorio-icon[style*="background-color:#929292"],
.factorio-icon[style*="background-color: rgb(153, 153, 153);"] {
    background: radial-gradient(#909090, #6b6b6c);
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #2A2A2A;
    border-bottom: 1px solid #2A2A2A;
}

.factorio-icon {
    display: inline-block;
    margin: 5px;
    position: relative;
    padding: 3px;
    width: 32px;
    height: 32px;
    border: 1px solid #4B4543;
}

.factorio-icon-text {
    position: absolute;
    bottom: -3px;
    right: 2px;
    color: #fff;
    font-size: smaller;
    font-weight: bold;
    text-shadow: 0px 1px 1px #000, 0px -1px 1px #000, 1px 0px 1px #000, -1px 0px 1px #000;

}

.button-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px; 
    margin-left: 5px;
}

.AddIcon,
.RemoveIcon {
    height: 22px;
    width: 32px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

#version {
    font-size: small;
    font-style: italic;
}

#main_area {
    display: flex;
    align-items: center;
}